main {
    max-width: 1300px;
    margin: 0 auto;
}
img {
  display: block;
  margin: auto;
}
#docsify-darklight-theme {
    position: relative;
    right: -17px;
    top: 25px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: var(--toogleImage);
    background-size: cover;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-image .15s ease-in-out .15s;
}
table {
    display: table !important;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.sidebar ul, .sidebar ul li {
    cursor: pointer;
}
.ant-back-top-button {
    position: fixed;
    color: orange;
    text-align: center;
    background-color: #00000073;
    border-radius: 5px;
    transition: all 5s;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.6;
    list-style: none;
    right: 50px;
    bottom: 50px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}