* {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

img {
  display: block;
  margin: auto;
}

#docsify-darklight-theme {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: var(--toogleImage);
    background-size: cover;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-image .15s ease-in-out .15s;
}

table {
    display: table !important;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.btn-back-top {
    position: fixed;
    color: #42b983;
    text-align: center;
    background-color: transparent;
    border: 2px solid #42b983;
    border-radius: 5px;
    transition: all 1s;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.6;
    list-style: none;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}

.btn-back-top:hover {
    color: orange;
    border: 2px solid orange;
    opacity: .5;
}

/* 
@media (prefers-color-scheme: light) {
    .sidebar-nav ul li:hover,
    .sidebar-nav ul li:hover > a,
    .sidebar-nav ul li a:hover {
        cursor: pointer;
        background-color: orange;
        color: #1fa383;
        border-radius: 8px;
    }
} */

/* body.sticky .logo-container {
    position: fixed;
    left: 68px;
    top: 93px;
} */