
        main {
            max-width: 1300px;
            margin: 0 auto;
        }
        img {
          display: block;
          margin: auto;
        }
        #docsify-darklight-theme {
            position: absolute;
            right: -20px;
            top: 25px;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-image: var(--toogleImage);
            background-size: cover;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: background-image .15s ease-in-out .15s;
        }
